# Topics

* PySpark DataFrame
* Reading the Dataset
* Checking the Datatypes of the Column(Schema)
* Selecting Columns and Indexing
* Check Describe Option Similar to Pandas
* Adding Column
* Dropping Columns

In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [33]:
df_spark = spark.read.option('header','true').csv('Data/file (1).csv',inferSchema=True)

In [34]:
#check schema
df_spark.printSchema()

root
 |-- Sales: double (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- genre: string (nullable = true)

In [35]:
df_pyspark = spark.read.csv('Data/file (1).csv',header=True,inferSchema=True)

In [36]:
df_pyspark.show()

+-----+-------------------+-----+
|Sales|               date|genre|
+-----+-------------------+-----+
|16.83|2009-01-01 00:00:00| Rock|
| 6.93|2009-02-01 00:00:00| Rock|
| 8.91|2009-03-01 00:00:00| Rock|
|21.78|2009-04-01 00:00:00| Rock|
| 7.92|2009-05-01 00:00:00| Rock|
|15.84|2009-06-01 00:00:00| Rock|
|18.81|2009-07-01 00:00:00| Rock|
| 19.8|2009-08-01 00:00:00| Rock|
| 4.95|2009-09-01 00:00:00| Rock|
| 19.8|2009-10-01 00:00:00| Rock|
|18.81|2009-11-01 00:00:00| Rock|
|17.82|2009-12-01 00:00:00| Rock|
|  9.9|2010-01-01 00:00:00| Rock|
|20.79|2010-02-01 00:00:00| Rock|
| 4.95|2010-03-01 00:00:00| Rock|
|13.86|2010-04-01 00:00:00| Rock|
| 3.96|2010-05-01 00:00:00| Rock|
|12.87|2010-06-01 00:00:00| Rock|
|23.76|2010-07-01 00:00:00| Rock|
| 6.93|2010-08-01 00:00:00| Rock|
+-----+-------------------+-----+
only showing top 20 rows

In [37]:
df_pyspark.printSchema()

root
 |-- Sales: double (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- genre: string (nullable = true)

In [38]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [39]:
df_pyspark.columns

['Sales', 'date', 'genre']

In [40]:
df_pyspark.head(5)

[Row(Sales=16.83, date=datetime.datetime(2009, 1, 1, 0, 0), genre='Rock'),
 Row(Sales=6.93, date=datetime.datetime(2009, 2, 1, 0, 0), genre='Rock'),
 Row(Sales=8.91, date=datetime.datetime(2009, 3, 1, 0, 0), genre='Rock'),
 Row(Sales=21.78, date=datetime.datetime(2009, 4, 1, 0, 0), genre='Rock'),
 Row(Sales=7.92, date=datetime.datetime(2009, 4, 30, 23, 0), genre='Rock')]

In [41]:
df_pyspark.select('Sales','date').show()

+-----+-------------------+
|Sales|               date|
+-----+-------------------+
|16.83|2009-01-01 00:00:00|
| 6.93|2009-02-01 00:00:00|
| 8.91|2009-03-01 00:00:00|
|21.78|2009-04-01 00:00:00|
| 7.92|2009-05-01 00:00:00|
|15.84|2009-06-01 00:00:00|
|18.81|2009-07-01 00:00:00|
| 19.8|2009-08-01 00:00:00|
| 4.95|2009-09-01 00:00:00|
| 19.8|2009-10-01 00:00:00|
|18.81|2009-11-01 00:00:00|
|17.82|2009-12-01 00:00:00|
|  9.9|2010-01-01 00:00:00|
|20.79|2010-02-01 00:00:00|
| 4.95|2010-03-01 00:00:00|
|13.86|2010-04-01 00:00:00|
| 3.96|2010-05-01 00:00:00|
|12.87|2010-06-01 00:00:00|
|23.76|2010-07-01 00:00:00|
| 6.93|2010-08-01 00:00:00|
+-----+-------------------+
only showing top 20 rows

In [42]:
df_pyspark['Sales']

Column<'Sales'>

In [43]:
df_pyspark.dtypes

[('Sales', 'double'), ('date', 'timestamp'), ('genre', 'string')]

In [44]:
df_pyspark.describe().show()

+-------+-----------------+-----+
|summary|            Sales|genre|
+-------+-----------------+-----+
|  count|               60|   60|
|   mean|          13.7775| null|
| stddev|7.298446926735362| null|
|    min|             1.98| Rock|
|    max|             29.7| Rock|
+-------+-----------------+-----+

In [45]:
#adding a new column
df_pyspark = df_pyspark.withColumn('Sales 2 Times',df_pyspark['Sales']*2)

In [46]:
df_pyspark.show()

+-----+-------------------+-----+-------------+
|Sales|               date|genre|Sales 2 Times|
+-----+-------------------+-----+-------------+
|16.83|2009-01-01 00:00:00| Rock|        33.66|
| 6.93|2009-02-01 00:00:00| Rock|        13.86|
| 8.91|2009-03-01 00:00:00| Rock|        17.82|
|21.78|2009-04-01 00:00:00| Rock|        43.56|
| 7.92|2009-05-01 00:00:00| Rock|        15.84|
|15.84|2009-06-01 00:00:00| Rock|        31.68|
|18.81|2009-07-01 00:00:00| Rock|        37.62|
| 19.8|2009-08-01 00:00:00| Rock|         39.6|
| 4.95|2009-09-01 00:00:00| Rock|          9.9|
| 19.8|2009-10-01 00:00:00| Rock|         39.6|
|18.81|2009-11-01 00:00:00| Rock|        37.62|
|17.82|2009-12-01 00:00:00| Rock|        35.64|
|  9.9|2010-01-01 00:00:00| Rock|         19.8|
|20.79|2010-02-01 00:00:00| Rock|        41.58|
| 4.95|2010-03-01 00:00:00| Rock|          9.9|
|13.86|2010-04-01 00:00:00| Rock|        27.72|
| 3.96|2010-05-01 00:00:00| Rock|         7.92|
|12.87|2010-06-01 00:00:00| Rock|        25.74|
|23.76|2010-07-01 00:00:00| Rock|        47.52|
| 6.93|2010-08-01 00:00:00| Rock|        13.86|
+-----+-------------------+-----+-------------+
only showing top 20 rows

In [47]:
# drop columns 
df_pyspark = df_pyspark.drop('Sales 2 Times')

In [48]:
# Rename Column
df_pyspark.withColumnRenamed('Sales','My Sales').show()

+--------+-------------------+-----+
|My Sales|               date|genre|
+--------+-------------------+-----+
|   16.83|2009-01-01 00:00:00| Rock|
|    6.93|2009-02-01 00:00:00| Rock|
|    8.91|2009-03-01 00:00:00| Rock|
|   21.78|2009-04-01 00:00:00| Rock|
|    7.92|2009-05-01 00:00:00| Rock|
|   15.84|2009-06-01 00:00:00| Rock|
|   18.81|2009-07-01 00:00:00| Rock|
|    19.8|2009-08-01 00:00:00| Rock|
|    4.95|2009-09-01 00:00:00| Rock|
|    19.8|2009-10-01 00:00:00| Rock|
|   18.81|2009-11-01 00:00:00| Rock|
|   17.82|2009-12-01 00:00:00| Rock|
|     9.9|2010-01-01 00:00:00| Rock|
|   20.79|2010-02-01 00:00:00| Rock|
|    4.95|2010-03-01 00:00:00| Rock|
|   13.86|2010-04-01 00:00:00| Rock|
|    3.96|2010-05-01 00:00:00| Rock|
|   12.87|2010-06-01 00:00:00| Rock|
|   23.76|2010-07-01 00:00:00| Rock|
|    6.93|2010-08-01 00:00:00| Rock|
+--------+-------------------+-----+
only showing top 20 rows